@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to version 2 of Home Page</h1>
    <p>
        To run labs you must be authorized. After autorization you can go to corresponding page of the lab you want to run.
        There you will see the instruction for this lab.
    </p>
</div>
