@model LabViewModel

<h2>Лабораторна робота 1</h2>
<p>
    Науково-дослідна лабораторія відомої автомобільної компанії розробила спеціальний механізм, що дозволяє підвищити ефективність гальм за рахунок рівномірного завантаження деталей, що використовуються в гальмах.
    Однією з основних складових механізму є 2 прокладки, які в процесі взаємодії накладаються один на одного. Кожна подушечка довжиною n ділиться на n секцій, кожна з яких має висоту h або 2h. Таким чином, подушечки мають зубчасту форму без заокруглення.
    У процесі взаємодії прокладок важливо, щоб вони накладалися один на одного і при цьому загальна довжина отриманого з'єднання була найменшою. За заданою конфігурації прокладок потрібно визначити найменшу довжину їх можливого з'єднання, при якій загальна висота конструкції не перевищує значення 3ч. При цьому забороняється обертати прокладки і видаляти зуби.<br /><br />
    Вхідні дані <br />
    Вхідний файл INPUT.TXT містить 2 рядки, що описують конфігурацію з 2 колодок. Кожна конфігурація визначається послідовністю цифр 1 і 2, відповідних висоті кожного зуба прокладки. Кожна з ліній не порожня і має довжину, що не перевищує 100. <br /><br />
    Вихідні дані <br />
    У вихідному файлі OUTPUT.TXT вивести найменшу довжину конструкції із вказаних колодок.
</p>

<p>Приклад:</p>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>INPUT</th>
            <th>OUTPUT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>21121121122212112</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1212121221212121</td>
            <td>8</td>
        </tr>
        <tr>
            <td>3</td>
            <td>221122112221212</td>
            <td>15</td>
        </tr>
    </tbody>
</table>

<form method="post" enctype="multipart/form-data" asp-controller="Lab" asp-action="Lab1">
    <div class="row">
        <div class="form-group container mt-2">
            <h4>Вхідні дані:</h4>
            <textarea id="inputText" class="form-control" rows="5" type="text" class="form-control" id="pinput" asp-for="Input"></textarea>
        </div>
        <div class="container mt-2">
            <h4>Результат:</h4>
            <textarea id="outputText" class="form-control" rows="5" readonly>@Model.Output</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Виконати</button>
</form>
