@model LabViewModel

<h2>Лабораторна робота 2</h2>
<p>
    Гра для двох гравців визначається її деревом. Суперники роблять ходи по черзі. Перший гравець розпочинає гру. Гра закінчується або внічию, або перемогою одного із гравців. Листя дерева цієї гри може мати значення, рівні одному з трьох чисел: +1 - перемога першого гравця, -1 - перемога другого гравця, 0 - нічия. Ваше завдання - визначити, хто виграє, якщо обидва супротивники дотримуються правильної стратегії.<br /><br />
    Вхідні дані <br/>
    Вузли дерева пронумеровані цілими послідовними числами. Корінь дерева завжди має номер 1. Перший рядок вхідного файлу INPUT.TXT містить натуральне N - число вузлів у дереві гри (N ≤ 1000). Наступний N - 1 рядок описує вузли - один рядок для кожного вузла (за винятком першого). Другий рядок містить опис другого вузла дерева, третій – третього вузла тощо. Якщо вузол є листом, перший символ рядка – L, потім йде пробіл, потім номер батьківського вузла, ще пробіл і результат гри (+1 – перемога першого гравця, –1 – перемога другого, 0 – нічия). Якщо внутрішній вузол, то рядок містить N - перший символ, потім пробіл і номер батьківського вузла.<br /><br />
    Вихідні дані<br />
    У вихідний файл OUTPUT.TXT виведіть +1, якщо виграє перший гравець, -1, якщо другий, і 0 - у разі нічийного результату.
</p>

<p>Приклад:</p>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>INPUT</th>
            <th>OUTPUT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                7
                N 1
                N 1
                L 2 -1
                L 2 +1
                L 3 +1
                L 3 +1
            </td>
            <td>+1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                7
                N 1
                N 1
                L 2 -1
                L 2 +1
                L 3 +1
                L 3 0
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                18
                N 1
                N 1
                N 2
                L 2 +1
                N 3
                L 3 +1
                L 3 +1
                L 4 -1
                L 4 +1
                N 4
                N 6
                L 6 -1
                L 6 -1
                L 11 -1
                L 11 +1
                L 12 +1
                L 12 -1
            </td>
            <td>+1</td>
        </tr>
    </tbody>
</table>

<form method="post" enctype="multipart/form-data" asp-controller="Lab" asp-action="Lab3">
    <div class="row">
        <div class="form-group container mt-2">
            <h4>Вхідні дані:</h4>
            <textarea id="inputText" class="form-control" rows="5" type="text" class="form-control" id="pinput" asp-for="Input"></textarea>
        </div>
        <div class="container mt-2">
            <h4>Результат:</h4>
            <textarea id="outputText" class="form-control" rows="5" readonly>@Model.Output</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Виконати</button>
</form>
