@model LabViewModel

<h2>Лабораторна робота 2</h2>
<p>
    Часто для пробного туру на різних олімпіадах з інформатики пропонується завдання «A + B», в якій за заданими цілими числами A та B потрібно знайти їхню суму.
    Під час проведення міської олімпіади з інформатики голова журі вирішив сам підготувати випробування для такого завдання. Для цього він використав свою оригінальну методику, яка полягала в наступному: спочатку готуються передбачувані правильні відповіді, а потім підбираються вхідні дані, що відповідають цим відповідям.
    Нехай голова журі вибрав число C, запис якого складається із n десяткових цифр і не починається з нуля. Тепер він хоче підібрати цілі позитивні числа A і B, щоб їх сума дорівнювала C, і запис кожного з них також складався з n десяткових цифр і не починався з нуля. На додачу до цього голова журі намагається підібрати такі числа A та B, щоб кожне з них було гарним. Гарним у його розумінні є число, запис якого не містить двох однакових цифр, що йдуть поспіль. Наприклад, число 1272 вважається красивим, а число 1227 – ні.
    Потрібно написати програму, яка для заданого натурального числа C обчислює кількість пар красивих позитивних чисел A і B, сума яких дорівнює C. Оскільки кількість пар красивих чисел може бути більшою, необхідно вивести залишок від розподілу цієї кількості на число 109+7.
    <br /><br />
    Вхідні дані <br/>
    Вхідний файл INPUT.TXT містить одне ціле позитивне число C. Число C не починається з нуля. Кількість цифр запису числа З вбирається у 10 000. <br /><br />
    Вихідні дані<br />
    У вихідний файл OUTPUT.TXT повинен містити одне ціле число — залишок від поділу кількості пар красивих чисел A і B, що шукаються, на число 109+7.
</p>

<p>Приклад:</p>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>INPUT</th>
            <th>OUTPUT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>22</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2</td>
            <td>200</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>239</td>
            <td>16</td>
        </tr>
    </tbody>
</table>

<form method="post" enctype="multipart/form-data" asp-controller="Lab" asp-action="Lab2">
    <div class="row">
        <div class="form-group container mt-2">
            <h4>Вхідні дані:</h4>
            <textarea id="inputText" class="form-control" rows="5" type="text" class="form-control" id="pinput" asp-for="Input"></textarea>
        </div>
        <div class="container mt-2">
            <h4>Результат:</h4>
            <textarea id="outputText" class="form-control" rows="5" readonly>@Model.Output</textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Виконати</button>
</form>
